// Layout and Structure
$sidebar-width: 75px;
$infobar-height: 30px;

// Z-indexing
$z-sidebar: 999;
$z-utilitybelt: 996;
$z-search: 995;
$z-infobar: 994;
$z-toolbar: 993;
$z-console: 990;

// Color Palette
$cc-grey: #F3EFEF;
$cc-darkBlue: #326A76;
$cc-lightBlue: #45A0B2;
$cc-teal: #45A0B2;

$green: #A9DD83;
$yellow: #F7C659;
