#infobar {
	width: 100%; height: $infobar-height;
	background: $cc-grey;
	position: fixed;
	top: 0;
	z-index: $z-infobar;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	.home-icon, .sidebar-icon {
		position: relative; 
		height: 100%;
		display: inline-block;
		cursor: pointer;
		border-right: solid 1px darken($cc-grey, 10%);
		&:hover {
			background: darken($cc-grey, 5%);
		}
		img {
			height: 100%;
			padding: 7px 20px;
		}
	}

	.breadcrumbs {
		vertical-align: top;
		height: 100%;
		display: inline-block;
		color: $cc-darkBlue;
		font-size: 0.75em;
		position: relative;
		line-height: 2.5em;
		padding-left: 10px;
	}
}