#infobar {
	width: 100%; height: $infobar-height;
	background: $cc-grey;
	position: fixed;
	top: 0; 
	z-index: $z-infobar;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	padding-right: $sidebar-width;
	.home-icon, .sidebar-icon {
		position: relative; 
		height: 100%;
		display: inline-block;
		cursor: pointer;
		border-right: solid 1px darken($cc-grey, 10%);
		&:hover {
			background: darken($cc-grey, 3%);
		}
		img {
			position: relative;
			height: 30px;
			padding: 7px 20px;
		}
	}
	
	ul {
		margin: 0px;
		padding: 0px;
		position: relative;
		li {
			position: relative; 
			height: 100%;
			display: inline-block;
			float: left;
			padding: 0px;
			&:hover {
				ul.sub-menu {
					display: block !important;
				}
			}
			ul.sub-menu {
				display: none;
				position: absolute;
				background: rgba(255,255,255,0.9);
				list-style: none;
				top: $infobar-height;
				left: 0px;
				padding: 0px;
				text-align: left;
				li {
					a {
						min-width: 160px;
						padding: 10px 10px 10px 10px;
						display: block;
						border-bottom: solid 1px #ddd;
						color: #222;
						font-size: 0.9em;
						text-decoration: none;
						&:hover {
							color: #fff;
							background: rgba(0,0,0,0.8);
						}
					}
				}
			}
		}
	}

	

	.sidebar-icon-blue {
		background: $cc-lightBlue !important;
		&:hover {
			background: $cc-darkBlue !important;
		}
	}

	.breadcrumbs {
		vertical-align: top;
		height: 100%;
		display: inline-block;
		color: $cc-darkBlue;
		font-size: 0.75em;
		position: relative;
		line-height: 2.5em;
		padding-left: 10px;
	}

	.layout-options {
		position: absolute;
		display: inline-block;
		right: 0px;
		img {
			margin: 3px 0px;
			height: 25px;
			padding: 5px;
		}
	}
}